@font-face {
  font-family: 'Gorgeous-Bold.ttf';
  src: url('../fonts/Gorgeous-Bold.ttf');
}

@font-face {
  font-family: 'Gorgeous-Light.ttf';
  src: url('../fonts/Gorgeous-Light.ttf');
}
@font-face {
  font-family: 'Gorgeous-UltraThin.ttf';
  src: url('../fonts/Gorgeous-UltraThin.ttf');
}

@font-face {
  font-family: 'Roboto-Thin.ttf';
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-Light.ttf';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Bold.ttf';
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Black.ttf';
  src: url('../fonts/Roboto-Black.ttf');
}

body{
  /* padding-bottom: 10vw; */
  margin: 0;
}
html{
    scroll-behavior: smooth;
}

header{
  overflow: hidden;
  width: 100%;
  display: flex;
  /* height: 152vw; */
}

.baner{
  position: fixed;
  width: 100%;
  transition: all 1.3s ease;
  top: 100vh;
  opacity: 0.2;
  transform-origin: top;
  transform: scale(2);
}

.headerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  /* border: 1px solid red; */
  padding-bottom: 9vw;
  transition: all 1.3s ease;
  transition-delay: 0.83s;
  transform: scale(0);
}

.logo{
  margin-top: 0.8224vw;
  position: relative;
  width: 32.656vw;
}

.headerContent h1{
  color: white;
  font-size: 53.3172vw;
  font-family: 'Gorgeous-Bold.ttf';
  letter-spacing: 1.5vw;
  margin: 0;
  margin-top: 30vw;
  margin-bottom: -16vw;
  transition: 1s ease;
  transform: scale(0.4);
}

.headerContent h2{
  color: white;
  font-size: 9.7vw;
  font-family: 'Gorgeous-Light.ttf';
  font-weight: 100;
  letter-spacing: 0.3vw;
  margin: 0;
}

.logoWhite{
  margin-top: 6.1vw;
  position: relative;
  width: 36.13933vw;
}

/* secTwo */
.secTwo{
  transition: 1s ease;
  position: relative;
  /* background: #d1c4a3; */
  background: rgba(196,178,122,1);
}
.stripes{
  transition: 1s ease;
  width: 100%;
  position: relative;
  opacity: 0;
}

.secTwoContent{
  border-top: 1.2578vw solid rgba(196,178,122,0.6);
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
}

.secTwoCircle{
  width: 47.1698vw;
  height: 47.1698vw;
  border-radius: 50%;
  background: white;
  opacity: 0.32;
  position: absolute;
  left: 21.2868vw;
  top: 22.63347vw;
  transform-origin: right;
  transform: scale(1);
  animation-duration: 2s;
  animation-name: secTwoCircle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes secTwoCircle {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.986);
  }
}

.girlCirc{
  width: 53.555vw;
  position: absolute;
  top: 20vw;
  left: 20vw;
}



.secTwoTextBox{
  /* border: 1px solid blue; */
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  top: 6vw;
  right: 7.5vw;
}
.secTwoTextBox h2{
  font-size: 38.3vw;
  color: white;
  font-family: 'Gorgeous-Bold.ttf';
  letter-spacing: 0.vw;
  margin: 0;
  /* margin-top: 30vw; */
  /* margin-bottom: -5vw; */
  writing-mode: tb;
  white-space: nowrap;
  margin-left: -11.4vw;
}
.secTwoTextBox h3{
  font-size: 9.7vw;
  color: 'Gorgeous-Bold.ttf';
'Gorgeous-Light.ttf';8453e;
  font-family: 'Gorgeous-Light.ttf';
  letter-spacing: 0.3vw;
  margin: 0;
  writing-mode: tb;
  /* font-weight: 100; */
}

.youDreamItContainer{
  position: absolute;
  /* border: 1px solid red; */
  left: 9.5vw;
  top: 50vw;
}

.youDreamItContainer h4{
  color: #7f8086;
  font-size: 2.32220vw;
  font-family: 'Roboto-Light.ttf';
  margin: 0;
  font-weight: 100;
}



.moreaboutmePbox{
  position: relative;
  /* border: 1px solid; */
  display: flex;
  /* left: -3vw; */
  align-items: center;
  height: 5vw;
  margin-top: 4.4vw;
}
.moreaboutmePbox:hover{
  cursor: pointer;
}

#moreAboutmeP{
  transition: 0.5s;
  position: relative;
  font-size: 1.4vw;
  margin-left: 0vw;
  color: #551918;
  filter: brightness(1);
  font-family: 'Roboto-Light.ttf';
  font-weight: 800;
}

.moreaboutmePbox:hover >#moreAboutmeP{
  cursor: pointer;
  filter: brightness(1.2);
}
.aboutMebuttonBox{
  margin-left: 0.5vw;
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
}
.aboutMebuttonBox:hover{
  cursor: pointer;
}
.aboutMeDot{
  transition: 0.1s;
  /* transform: rotate(45deg); */
  width: 4px;
  height: 4px;
  /* background: white; */
  margin: 2px;
  /* animation-name: aboutMeDot; */
  animation-duration: infinite;
  animation-duration: 1.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.dotInside{
  width: 100%;
  height: 100%;
  background: white;
  transform: rotate(45deg);
}
.aboutMebuttonBox .aboutMeDot:nth-child(2){
  animation-delay: 0.18s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(3){
  animation-delay: 0.32s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(4){
  animation-delay: 0.5s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(5){
  animation-delay: 0.68s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(6){
  animation-delay: 0.86s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(7){
  animation-delay: 1.04s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(8){
  animation-delay: 1.22s;
}
.aboutMebuttonBox .aboutMeDot:nth-child(9){
  animation-delay: 1.40s;
}

@keyframes aboutMeDot {
  0%{
    /* width: 5px; */
    /* height: 5px; */
    transform: scale(1);
  }
  5%{
    /* width: 8px; */
    /* height: 8px; */
    transform: scale(1.5);
  }
  10%{
    /* width: 5px; */
    /* height: 5px; */
    transform: scale(1);
  }
  100%{
    /* width: 5px; */
    /* height: 5px; */
  }
}

.aboutmeButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 2vw;
  overflow: hidden;
  /* border: 1px solid green; */
  background: rgba(196,194,57,0.05);
  margin-left: 0.5vw;
  border: 2px solid rgba(196,194,57,0);
}
.aboutmeButton{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background-color: #c6b885;
  border-radius: 5vw;
  width: 2.5vw;
  height: 2.5vw;
  transform: scale(1);
}
.aboutmeButton img{
  width: 0.4358vw;
}
.moreaboutmePbox:hover > .aboutMebuttonBox > .aboutmeButtonContainer > .aboutmeButton{
  background: rgba(196,194,57,1);
  transform: scale(1.7);
  /* width: 100%; */
  /* height: 100%; */
}
.moreaboutmePbox:hover > .aboutMebuttonBox > .aboutMeDot{
  animation-name: aboutMeDot;
}
.services{
  position: relative;
  text-align: center;
  margin-top: 1.5vw;
  /* left: 2vw; */
  margin-left: 4vw;
  font-family: 'Roboto-Bold.ttf';
}

.services a{
  transition: 0.5s;
  font-weight: 600;
  padding-right: 0.3vw;
  color:#7f8086;
  text-decoration: none;
  font-size: 1.05vw;
  transition: 1s;
}

.services a:hover{
  color: #c6b885;
}
/* secTwo end */

/* secServices start */
.secServices{
  padding: 0.1px;
  position: relative;
  background: #313236;
  padding-bottom: 14.02999vw;
  z-index: 1;
}
.secServices h2{
  font-size: 29.0275vw;
  font-family: 'Gorgeous-Bold.ttf';
  color: white;
  text-align: center;
  margin: 0;
  margin-top: -10.74vw;
  transform: scale(.5);
  transform-origin: top;
  transition: 1.3s ease;
}
.secServices h3{
  font-size: 2.9027vw;
  font-family: 'Gorgeous-UltraThin.ttf';
  color: white;
  text-align: center;
  font-weight: 100;
  margin: 0;
  margin-top: -8.4vw;
  transition: 1.3s ease;
  transition-delay: 1s;
  opacity: 0;
}
.servicesContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
.servicesParrentContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.servicesBox{
  position: relative;
  transition: all 1s ease;
  width: 0%;
  cursor: pointer;
  flex-grow: 1;
  /* overflow: hidden; */
}
.servicesBox:hover{
  width: 85%;
}



.servicesBox::after{
  transition: 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0);
}
.servicesBox:hover:after{
  background: rgba(255,255,255,0.92);
}
/* .servicesBox:hover img{
  transform: scale(1.3);
  z-index: 1;
}
.servicesBox:nth-child(1) img{
  transform-origin: bottom left;
}
.servicesBox:nth-child(2) img{
  transform-origin: bottom center;
}
.servicesBox:nth-child(3) img{
  transform-origin: bottom right;
} */
.servicesBox img{
  position: relative;
  transition: all 0.5s ease;
  /* width: 100%; */
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  width: 5.2vw;
  /* min-height: 100%; */
  /* max-height: 100%; */
  height: 100%;
}
/* secServices end */

/* recentProjects start */
.recentProjects{
  width: 100%;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  transition: 2s ease;
  position: relative;
  z-index: 3;
  /* background: #33343b; */
  background: #fff;
  padding-bottom: 23vw;
  position: relative;
}

.recentProjectsTextBox{
  /* border: 1px solid red; */
  position: relative;
  z-index: 2;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  top: -7vw;
  padding-right: 7vw;
}
.recentProjectsTextBox h2{
  font-size: 33.8655vw;
  color: white;
  font-family: 'Gorgeous-Bold.ttf';
  margin: 0;
  user-select: none;
  z-index: 24234;
  writing-mode: tb;
  position: relative;
  top: 7vw;
  transition: 1s ease;
}
.recentProjectsTextBox h3{
  font-size: 9.67585vw;
  color: #33343b;
  /* color: red; */
  font-family: 'Gorgeous-Light.ttf';
  margin: 0;
  margin-left: 7vw;
  margin-top: -1.5vw;
  /* font-weight: 100; */
  user-select: none;
  text-align: center;
  letter-spacing: 0.4vw;
}

.recProjContainer{
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  margin-top: -44vw;
  justify-content: space-around;
  overflow: hidden;
  padding-top: 15vw;
  padding-bottom: 14vw;
}
.recProjBoxContainer:nth-child(1){
  transform-origin: left;
}
.recProjBoxContainer:nth-child(2){
  transform-origin: right;
}
.recProjBoxContainer{
  transition: all 0.5s ease;
  /* border: 1px solid red; */
}
.recProjBoxContainer:hover{
  transform: scale(1.2);
  z-index: 1;
}
.recProjImageBox{
  position: relative;
  width: 36.28447vw;
  height: 36.28447vw;
  transition: all 0.5s ease;
  /* border: 1px solid green; */
  display: inline-block;
  transform: rotate(45deg);
  overflow: hidden;
}
.recProjImageBox::before{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 180%;
  top: 1px;
  bottom: 1px;
  /* opacity: 0.2;  */
  top:-120%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  z-index: 5;
  pointer-events: none;
}
.recProjImageBox:hover:before{
  top:100%;
  left:100%;
}
.recProjImageBox:nth-child(3){
  margin-top: -5vw;
}
.recProjImageBox:hover{
  z-index: 1;
}
.recProjImageBox img:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.recProjImageBox img{
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  /* transition: rot; */
}

.poUpCarContainer{
  z-index: 6;
  /* border: 1px solid yellow; */
  position: fixed;
  bottom: 0;
  height: 0vh;
  width: 100%;
  transition: 1.3s ease;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  font-family: 'Roboto-Thin.ttf';
  justify-content: center;
  align-items: center;
  background: gray;
}
.poUpImg{
  max-width: 100%;
  /* min-height: 100%; */
  height: auto;
  /* object-fit: cover; */
}
.popUpLeftArrowBox{
  transform: skewX(10deg);
  transform: rotate(55.5deg);
}
.popUpLeftArrow{
  width: 4.116vw;
  height: 4.116vw;
  /* transform: rotate(45deg); */
  border-left: 2px solid #3c3c3b;
  border-bottom: 2px solid #3c3c3b;
  transform: skewX(25deg);
  transition: 0.5s ease;
  opacity: 0.27;
}
.popUpLeft:hover .popUpLeftArrow{
  opacity: 0.57;
}

.popUpRight:hover .popUpLeftArrow{
  opacity: 0.57;
}
.rightPopArrow{
  transform: rotate(-126deg);
  position: relative;
  top: -1vw;
}
.popUpLeft{
  transition: 0.5s ease;
  background: rgba(255,255,255,0.22);
  height: 100%;
  width: 7.26744vw;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpRight{
  cursor: pointer;
  transition: 0.5s ease;
  background: rgba(255,255,255,0.22);
  height: 100%;
  width: 7.26744vw;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpLeft:hover,
.popUpRight:hover{
  background: rgba(255,255,255,0.4);
}
.popUpLeft:hover p,
.popUpRight:hover p{
  opacity: 0.45;
}
.popUpLeft p,
.popUpRight p{
  font-size: 4vw;
  transform: scale(1,4);
  font-weight: 100;
  transition: 0.5s ease;
  opacity: 0.27;
}
.popUpCloseBox{
  cursor: pointer;
  width: 7.26744vw;
  height: 7.26744vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Roboto-Thin.ttf';
  color: #3c3c3b;
}
.popUpCloseBox:hover p{
  opacity: 0.45;
}
.popUpCloseBox p {
  transition: 0.5s ease;
  font-size: 6vw;
  font-weight: 100;
  opacity: 0.27;
  pointer-events: none;
  user-select: none;
}
.popUpOverlay{
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  transition: 0.15s;
  opacity: 0;
}
/* recentProjects end */

/* secPortfolio start */
.secPortfolio{
  position: relative;
  z-index: 4;
  height: 100vh;
}
.portfoContent{
  width: 100%;
  display: flex;
  height: 100%;
}
.portfoBox{
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  /* flex-basis: 100%; */
  width: 34%;
  overflow: hidden;
}
.portfoBox:nth-child(1){
  width: 50%;
}
.portfoBox:nth-child(3){
  width: 50%;
}
.portfoBox img{
  transition: all 1s ease;
  height: 100%;
}
.portfoBox:hover img{
  cursor: pointer;
  transform: scale(1.2);
  /* width: 50%; */
}
.portfoBox:hover .portBoxOverlay{
  background-color: rgba(0,0,0,0.3);
}
.portBoxOverlay{
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.portBoxOverlay h3{
  font-family: 'Roboto-Black.ttf';
  color: white;
  font-size: 3.4833vw;
  writing-mode:tb;
  margin: 0;
}

.secPortOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.321238vw;
  background: rgba(51,52,59,0.65);
}

.secPortTextContainer{
  top: -24.75vw;
  left: 0;
  position: absolute;
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  overflow: hidden;
}
.secPortTextContainer h2{
  color: white;
  font-family: 'Gorgeous-Bold.ttf';
  font-size: 33.865vw;
  margin: 0;
  transform: scale(0.5);
  transform-origin: bottom;
  transition: 1s ease;
}
.secPortTextContainer h3{
  color: #a79d85;
  font-size: 3.4833vw;
  font-family: 'Gorgeous-UltraThin.ttf';
  font-weight: 100;
  letter-spacing: 0.01vw;
  margin: 0;
  margin-top: -9.4vw;
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
}
/* secPortfolio end */

/* section notify me start */
label{
  font-weight: normal;
}
.labelBox p{
  display: inline;
}
/* The container */
.containerInput {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerInput:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerInput input:checked ~ .checkmark {
  background-color: pink;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerInput input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerInput .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.notifyMe{
  position: relative;
  height: 25.46vw;
  background-color: black;
  padding: 0.1px;
  /* margin-top: 10.1845vw; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
  /* margin-top: 1vw; */
  z-index: 3;
}

.pinkFormBox{
  position: relative;
  padding: 0.1px;
  height: 16.973vw;
  width: 74.5424vw;
  background-color: #e3d671;
  /* box-shadow:  0px 49px 99px 3px rgba(241,88,102,0.9); */
  right: 0;
  /* top: -2.7306vw; */
  display: flex;
  flex-shrink: 0;
  margin-top: 4vw;
  align-items: center;
}

.pinkSectionForm{
  /* border: 1px solid; */
  position: relative;
  /* margin-left: 27.8966vw; */
  margin-top: 6.1992vw;
  /* font-size: 2vw; */
  margin-left: 4vw;
}
.pinkSectionForm h2{
  font-family: 'Roboto-Bold.ttf';
  letter-spacing: -3px;
  margin: 0;
  font-size: 2.656vw;
  color: #33393e;
  margin-bottom: 1vw;
}
.pinkSectionForm p{
  font-weight: 800;
  display: inline;
  font-family: 'Roboto-Light.ttf';
  color: #895a5b;
  font-size: 1.18081vw;
}
.pinkFormTextInput{
  height: 100%;
  width: 18.6715vw;
  background-color: transparent;
  border: 2px solid #fff;
  padding-left: 1vw;
  font-size: 1.0332vw;
  margin-left: 5.69vw;
  box-sizing: border-box;
}
.pinkInBut{
  display: flex;
  position: relative;
  margin-left: 12vw;
  top: -3vw;
  height: 3.1734vw;
  box-sizing: border-box;
}
.pinkFormButton{
  background: #fff;
  height: 100%;
  width: 3.1734vw;
  border: 1px solid #fff;
  font-size: 1.6236vw;
  padding: 0.1px;
  color: #895a5b;
  font-family: 'Roboto-Light.ttf';
  font-weight: 800;
}

.notifyImg{
  height: 20.8535vw;
  width: 20.368vw;
  margin-left: 3vw;
}
/* section notify me end */

/* insta section start */
.secInstagram{
  transition: 1.5s ease;
  padding-top: 5.33462vw;
  position: relative;
  display: flex;
  /* border: 1px solid red; */
  /* margin-top: 4vw; */
  align-items: center;
  padding-bottom: 5.81959vw;
  justify-content: center;
  background: #3c4145;
}
.instagramSection h2{
  width: 100%;
  transition: 1.5s;
  position: absolute;
  text-align: center;
  font-size: 2vw;
  top: 2.5vw;
  color: rgba(196,194,57,0.5);
  font-family: 'Blacksword';
  /* font-size: 3.9vw; */
  font-size: 6.7vw;
  margin: 0;
  letter-spacing: 0.1vw;
}
.instagramSection h2 span{
  transition: 1.5s;
  font-size: 12.195vw;
  /* font-size: 17.1vw; */
  letter-spacing: -2vw;
}

.yellowInstagramBnd{
  /* margin-top: 6.6829vw; */
  transition: 2s;
  top: 0vw;
  left: -150%;
  width: 150%;
  height: 14.975vw;
  position: relative;
  /* background-color: #d5d163; */
  background: linear-gradient(to right, rgba(213,209,99,0) 0%, rgba(213,209,99,1) 25%, rgba(213,209,99,1) 50%, rgba(213,209,99,1) 75%, rgba(213,209,99,0) 100%);

}
.yellowInstagramBndContainer{
  overflow: hidden;
  top: 5vw;
  position: relative;
  width: 100%;
  height: 14.975vw;
  /* border: 1px solid red; */
}
/* background: linear-gradient(to right, rgba(213,209,99,0) 0%, rgba(213,209,99,1) 25%, rgba(213,209,99,1) 50%, rgba(213,209,99,1) 100%); */
.instagramSectionHTWO{
  transition: 1s;
  opacity: 0;
  font-weight: 100;
}

.instagramTwoHtwo{
  font-weight: 100;
  top: auto !important;
  bottom: -6vw;
  opacity: 0;
}
.yellowInstagramBndContainerTwo{
  top: auto;
  bottom: 0vw;
  width: 100%;
}


.gridBoxSpecial{
  transition: 2s;
  width: 70vw;
  height: 41.463vw;
  /* margin-left: 50%; */
  /* margin-top: 16.341vw; */
  /* margin-bottom: 2.63vw; */
  /* left: -35vw; */
  position: relative;
  /* background: rgba(100,100,100,100.3); */
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 0.222vw;
}
.gridBoxSpecial img{
  width: 100%;
  height: 100%;
}

.gridBoxSpecial div{
  position: relative;
  overflow: hidden;
}
.gridBoxSpecial div:hover{
  cursor: pointer;
}
.gridBoxSpecial div:nth-child(1) h2{
  pointer-events: none;
  font-family: 'Blacksword',serif;
  position: relative;
  z-index: 1;
  writing-mode:tb-rl;
  color: white;
  font-size: 6vw;
  margin: 0;
  margin-top: -1.8vw;
  margin-left: -2vw;
  font-weight: 100;
}
.gridBoxSpecial div:nth-child(1){
  background-color: rgb(235,217,110);
  grid-row: 1/3;
  grid-column: 1/2;
}
.gridBoxSpecial div:nth-child(2){
  grid-row: 1/4;
  grid-column: 2/3;
}
.gridBoxSpecial div:nth-child(3){
  grid-row: 1/2;
  grid-column: 3/4;
}
.gridBoxSpecial div:nth-child(4){
  grid-row: 2/3;
  grid-column: 3/4;
}
.gridBoxSpecial div:nth-child(5){
  grid-row: 3/4;
  grid-column: 3/4;
}
.gridBoxSpecial div:nth-child(6){
  grid-row: 3/4;
  grid-column: 1/2;
}

/* grid effect */
.gridBoxSpecial div::after,.gridBoxSpecial div::after{
  position: absolute;
  top: 0px;
  bottom: 0px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.gridBoxSpecial div:hover:after,.gridBoxSpecial div:hover:after{
  background-color: #ffa806;
  opacity: 0.7;
}
.gridBoxSpecial div::before,.gridBoxSpecial div::before{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 180%;
  top: 1px;
  bottom: 1px;
  /* opacity: 0.2;  */
  top:-120%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  /* z-index: 5; */
}
.gridBoxSpecial div:hover:before,.gridBoxSpecial div:hover:before{
  top:100%;
  left:100%;
}
/* grid effect */

/* insta section end */

/* footer start */
footer{
  display: block;
  position: relative;
  /* height: 44.1319vw; */
  width: 100%;
  overflow: hidden;
}
.footerStripes{
  pointer-events: none;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.footerTopLayer{
  height: 26.673vw;
  background-color: #d1c4a3;
}
.footerBotLayer{
  height: 16.00387vw;
  border-top: 0.96993vw solid #c3b27a;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerlogo{
  width: 36.226vw;
  position: relative;
}
/* footer end */



/* funy stuf */
.funnyCarBG{
  width: 100vw;
}

/* arrow to top */
.arrowToTop{
  pointer-events: none;
  opacity: 0;
  transition: all 0.75s ease;
  position: fixed;
  width: 2.89vw;
  height: 2.89vw;
  background: #e8f0d6;
  right: 3vw;
  /* top: 2vw; */
  bottom: 4vw;
  transform: rotate(-90deg);
  display: flex;
  /* opacity: 0.3; */
  align-items: center;
  justify-content: center;
  border: 1px solid #551918;
  z-index: 5;
}

.arrowToTop:hover{
  opacity: 1 !important;
}

.arrowToTop p{
  margin: 0 !important;
  font-size: 2vw;
  font-weight: 600;
  transform: scale(0.7,1.3);
  color: #551918;
}
